<h1 class="login-title">Register</h1>
<form class="login-form" action="/users" method="post">
  <input class="login-form" type="text" name="user[username]" placeholder="Username"><br><br>
  <input class="login-form" type="email" name="user[email]" placeholder="Email"><br><br>
  <input class="login-form" type="password" name="user[password]" placeholder="Password"><br><br>
  <input class="login-form" type="submit" name="Submit" value="Create Account">
</form>

<%=erb :"_errors"%>
